@model IEnumerable<CRM_Koltes.Models.Structure>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RaisonCommerciale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaisonSociale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Siret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructDateEnregistrement).ToString().Substring(6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructNumeroVoie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructVoie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructBis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructCodePostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructVille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructPays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructCategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructActivitePrincipale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RaisonCommerciale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaisonSociale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructDateEnregistrement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructNumeroVoie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructVoie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructBis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructCodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructVille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructPays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructCategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructActivitePrincipale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStructure">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStructure">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStructure">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
